@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* You can also try setting overflow to hidden */
  }

body{

    @apply bg-gray-900;
}